#firstScreen{
    width: 100%;
    /* vh 是 CSS3 新增的尺寸单位，代表的是视口大小 */
    /* 100 vh 代表的就是 100% 的视口宽度 */
    height: 100vh;
    position: relative;
    overflow: hidden;
    
    
}

/* 视频样式 */
#firstScreen .bgvideo{
    width: 100%;
    height: auto;
    min-height: 100vh;
    /* 这也是一个 CSS3 新增属性，指定元素的内容应该如何去适应指定的容器的高度和宽度 */
    /* cover 代表的是保持原有的尺寸比例，但部分内容可能被裁剪 */
    object-fit: cover;
    /* CSS3 新增属性，代表不允许用户选择 */
    user-select: none;
}

/* logo 样式 */
#firstScreen .logo{
    width: 100%;
    position: absolute;
    left: 0;
    top: 1.8rem;
    text-align: center;
    /* 去除 h1 的默认字体大小 */
    font-size: 0;
    user-select: none;
    outline: 1px solid;
}

#firstScreen .logo img{
    height: 2.94rem;
}

/* posterMain 区域样式 */
#posterMain{
    width: 100%;
    height: 4.2rem;
    position: absolute;
    left: 0;
    bottom: 0;
}

#posterMain .playBtnContainer{
    width: 3.56rem;
    height: 0.76rem;
    margin: 0 auto;
    background: url('../assets/anniubeijing.png') no-repeat center center;
    background-size: cover;
    /* CSS3 新提供的属性，放大倍数，1代表1倍，小于1代表缩小，大于1代表放大 */
    transform: scale(1.5);
    margin-bottom: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#posterMain .playBtnContainer .playBtn{
    width: 0.48rem;
    height: 0.48rem;
    border-radius: 50%;
    border: none;
    font-size: 0;
}

#posterMain .playBtnContainer .playBtn:before{
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0.28rem;
    height: 0.28rem;
    /* 这个也是CSS3新增的，代表位移动 */
    transform: translate(-50%,-50%);
    background: url('../assets/bofanganniu.png') no-repeat;
    background-size: 0.28rem auto;
    background-position: center top;
}


/* 用到的背景图名字为 tiaokuanbeijing.png */